@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "BackEnd";
}
@model IEnumerable<Request>
@using JPP_CAPROJ2.Data.Model.Interface;
@inject IUserRepository UserRepository;


<section id="main-content">
    <div class="wrapper">

        <h3><i class="fa fa-angle-right"></i>Service Requests</h3>
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
            <div class="col-lg-12">
                <div class="form-panel">


                    <table class="table table-striped table-bordered responsive no-wrap" style="width:100%;margin-top:2%;" id="userList">
                        <thead>
                            <tr>
                                <th>Project ID</th>
                                <th>Address</th>
                                <th>Problem Encountered</th>
                                <th>Price</th>
                                <th>Assigned By</th>
                                <th>Status</th>
                                <th>Inspection Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                foreach (var request in Model)
                                {
                                    var reqId = String.Format("{0:D5}", request.RequestId);
                                    <tr>
                                        <td>@Html.Raw("P")@reqId</td>
                                        <td>@request.Address</td>
                                        <td>@request.Requirements</td>
                                        <td>P @request.Price.ToString("N")</td>
                                        <td>@request.AssignedBy</td>
                                        <td>
                                            @request.Status
                                        </td>
                                        <td>
                                            @request.AvailableDate.ToString("D")
                                        </td>

                                        <td>

                                            @{
                                                @using Microsoft.AspNetCore.Http;
                                                @inject IHttpContextAccessor HttpContextAccessor
                                                if (Startup.IsSessionAvailable)
                                                {
                                                    if (HttpContextAccessor.HttpContext.Session.GetString("Role").ToString() != "employee")
                                                    {
                                                        if (request.Status == "for inspection")
                                                        {

                                                            <button onclick="MyFunction('@request.RequestId','@request.Description','@request.Price')" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">
                                                                Service Quotation
                                                            </button>

                                                            <a asp-controller="Request" asp-route-id="@request.RequestId" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to reject this viewing?')" asp-action="RejectQuotation">Reject</a>
                                                        }
                                                    }
                                                }
                                                if (request.Status == "for inspection" && HttpContextAccessor.HttpContext.Session.GetString("Role").ToString() == "employee")
                                                {
                                                    <button class="btn btn-success btn-sm" onclick="ChangeWorker('@request.RequestId','@request.AssignedBy')" data-toggle="modal" data-target="#ProductModal">
                                                        Change Worker
                                                    </button>

                                                }


                                            }
                                        </td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- col-lg-12-->
        </div>

        <div class="modal fade" id="ProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <form method="post" asp-action="ChangeWorker" asp-controller="Request">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Worker List</h4>
                        </div>
                        <div class="modal-body">

                            <h5>Please Select Worker</h5>

                            <input id="workerId" type="hidden" name="id" />
                            <select id="workerSelect" class="form-control" name="name">
                                <option value=""></option>
                                @{
                                    foreach (var user in UserRepository.GetAll().ToList())
                                    {
                                        if (user.Role == "worker")
                                        {
                                            <option value="@user.UserName">@user.UserName</option>
                                        }
                                    }
                                }
                            </select>


                            <div class="productOutput"></div>


                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Assign" />
                        </div>
                </form>

            </div>
            </div>
        </div>

    </div>
</section>
<br />
<br />
<br />
<br />
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-controller="Request" asp-action="AcceptService" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Service Quotation</h4>
                </div>
                <div class="modal-body">
                    <h5>Service Details</h5>
                    <input type="hidden" id="desc" name="description" value="" />
                    <input type="hidden" id="price" name="price" value="" />
                    <input style="display:none;" type="checkbox" checked="checked" name="c0" id="c0" value="1000" />
                    <input type="checkbox" name="c1" id="c1" value="5000" /> Boiler Maintenance <br />
                    <input type="checkbox" name="c2" id="c2" value="10000" /> Boiler Repair<br />
                    <input type="checkbox" name="c3" id="c3" value="5500" /> Cleaning<br />
                    <input type="checkbox" name="c4" id="c4" value="15000" /> Plumbing<br />
                    <input type="checkbox" name="c5" id="c5" value="12500" /> Rehabilitation<br />
                    <input type="checkbox" name="c6" id="c6" value="8500" /> Retubing<br />
                    <input type="checkbox" name="c7" id="c7" value="9000" /> Fabrication of Reactors<br />
                    <input type="checkbox" name="c8" id="c8" value="15250" /> Fully Retube<br />
                    <input type="checkbox" name="c9" id="c9" value="13275" /> Partial Retubing
                    <input type="hidden" id="requestId" name="id" class="form-control" placeholder="placeholder">
                    <input type="number" name="price" min="1" id="priceTots" readonly value="1000" class="form-control" placeholder="Service Price">
                    <button id="calculate">Calculate</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" onclick="return Validate()" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<script>

    function ChangeWorker(id, name) {
        $('#workerId').val(id);
        $('#workerSelect').prop('selectedIndex',0);
       $("#workerSelect option").prop('disabled', false);
        $('#workerSelect option[value=' + name + ']').attr('disabled', 'disabled');
    }


    function Validate() {

        if (parseInt($('#priceTots').val()) == 0) {
            return false;
        }
    }

    $('#calculate').click(function () {
        $('#priceTots').val(0);

        if ($('#c1').prop('checked') == true) {
            var total = $('#priceTots').val();
            var totalPriceVar = parseInt(total);
            totalPriceVar += parseInt($('#c1').val());
            $('#priceTots').val(totalPriceVar);

        }

        if ($('#c2').prop('checked') == true) {
            var total = $('#priceTots').val();
            var totalPriceVar = parseInt(total);
            totalPriceVar += parseInt($('#c2').val());
            $('#priceTots').val(totalPriceVar);

        }

        if ($('#c3').prop('checked') == true) {
            var total = $('#priceTots').val();
            var totalPriceVar = parseInt(total);
            totalPriceVar += parseInt($('#c3').val());
            $('#priceTots').val(totalPriceVar);

        }


        if ($('#c4').prop('checked') == true) {
            var total = $('#priceTots').val();
            var totalPriceVar = parseInt(total);
            totalPriceVar += parseInt($('#c4').val());
            $('#priceTots').val(totalPriceVar);

        }

        if ($('#c5').prop('checked') == true) {
            var total = $('#priceTots').val();
            var totalPriceVar = parseInt(total);
            totalPriceVar += parseInt($('#c5').val());
            $('#priceTots').val(totalPriceVar);

        }


        if ($('#c6').prop('checked') == true) {
            var total = $('#priceTots').val();
            var totalPriceVar = parseInt(total);
            totalPriceVar += parseInt($('#c6').val());
            $('#priceTots').val(totalPriceVar);

        }

        if ($('#c7').prop('checked') == true) {
            var total = $('#priceTots').val();
            var totalPriceVar = parseInt(total);
            totalPriceVar += parseInt($('#c7').val());
            $('#priceTots').val(totalPriceVar);

        }

        if ($('#c8').prop('checked') == true) {
            var total = $('#priceTots').val();
            var totalPriceVar = parseInt(total);
            totalPriceVar += parseInt($('#c8').val());
            $('#priceTots').val(totalPriceVar);

        }

        if ($('#c9').prop('checked') == true) {
            var total = $('#priceTots').val();
            var totalPriceVar = parseInt(total);
            totalPriceVar += parseInt($('#c9').val());
            $('#priceTots').val(totalPriceVar);

        }

        if ($('#c0').prop('checked') == true) {
            var total = $('#priceTots').val();
            var totalPriceVar = parseInt(total);
            totalPriceVar += parseInt($('#c0').val());
            $('#priceTots').val(totalPriceVar);

        }
















        return false;

    });

    function MyFunction(x,d,p) {
        $('#requestId').val(x);

        $('#desc').val(d);

        $('#price').val(p);
        $('#c0').val(p);
        $('#priceTots').val(p);
    }

    $(document).ready(function () {
        $('#userList').DataTable({

            responsive: true,
            lengthChange: false,
            "sScrollX": "100%",
            "scrollCollapse": true,
            dom: 'lBfrtip',
            buttons: [
                {
                    extend: 'print',

                    customize: function (win) {
                        $(win.document.body)
                            .css({ 'font-size': '10pt' })
                            .prepend(
                                '<h1 id="header"></h1><img  style="margin-left:250px; height:150px; text-align:center; z-index:5000; width:150px; top:0; left:0;" src="https://i.ibb.co/kMCSXcL/jpp.jpg" />'
                            );

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }, 'excelHtml5', {
                    extend: 'pdf',
                    download: 'open',
                }
            ]

        });
    });

</script>
<script src="~/DataTables-1.10.18/js/jquery.dataTables.js"></script>
<script src="~/DataTables-1.10.18/js/dataTables.buttons.min.js"></script>
<script src="~/DataTables-1.10.18/js/buttons.print.min.js"></script>

<script src="~/DataTables-1.10.18/js/pdfmake.min.js"></script>
<script src="~/DataTables-1.10.18/js/vfs_fonts.js"></script>
<script src="~/DataTables-1.10.18/js/buttons.html5.min.js"></script>
<script src="~/DataTables-1.10.18/js/jszip.min.js"></script>
<script src="~/DataTables-1.10.18/js/dataTables.responsive.min.js"></script>
<script src="~/DataTables-1.10.18/js/responsive.bootstrap4.min.js"></script>

<link href="~/DataTables-1.10.18/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="~/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/DataTables-1.10.18/css/button.css" rel="stylesheet" />
<script src="~/DataTables-1.10.18/js/dataTables.bootstrap4.js"></script>

