@{
    ViewData["Title"] = "Privacy Policy";
Layout = "BackEnd";
}
@model IEnumerable<Request>


    
    <section id="main-content"> 
         <div class="wrapper">

               <h3><i class="fa fa-angle-right"></i> Service  Status</h3>
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
            
        
          <table class="table table-striped table-bordered responsive no-wrap" style="width:100%;margin-top:2%;" id="userList">
    <thead>
        <tr>
         
              <th>Price</th>
              <th>Status</th>
           <th>Assigned By</th>
             
                 <th></th>
        </tr>
    </thead>

    <tbody>
        @{
            foreach (var request in Model)
            {
                if (request.Status != "for viewing") { 
                <tr>

                    <td>@request.Price</td>
                    <td>  <span class="label label-warning">@request.Status</span></td>
                    <td>@request.AssignedBy</td>

                    <td>
                        @{

                            if (request.Status != "Canceled" && request.Status != "Completed")
                            {


                                <a  asp-route-id="@request.RequestId" asp-controller="Request" asp-action="CompleteService">Complete Service</a>

                                <a  asp-route-id="@request.RequestId" asp-controller="Request" asp-action="CancelService">Cancel Service</a>
                            }
                        }
                    </td>
                      
                    </tr>
                    }
            }
        }
    </tbody>
</table>
            </div>
          </div>
          <!-- col-lg-12-->
        </div>



</div>  
</section>
<br /><br /><br /><br />


<script>



    $(document).ready(function () {
        $('#userList').DataTable({

            responsive: true,
            lengthChange: false,
            "sScrollX": "100%",
            "scrollCollapse": true,
            dom: 'lBfrtip',
            buttons: [
                {
                    extend: 'print',

                    customize: function (win) {
                        $(win.document.body)
                            .css({ 'font-size': '10pt' })
                            .prepend(
                                '<img style= src="~/Images/activefinancelogo.png"  style="position:absolute; height:500px; z-index:5000; width:500px; top:0; left:0;" />'
                            );

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }, 'excelHtml5', {
                    extend: 'pdf',
                    download: 'open',
                }
            ]

        });
    });

</script>
<script src="~/DataTables-1.10.18/js/jquery.dataTables.js"></script>
<script src="~/DataTables-1.10.18/js/dataTables.buttons.min.js"></script>
<script src="~/DataTables-1.10.18/js/buttons.print.min.js"></script>

<script src="~/DataTables-1.10.18/js/pdfmake.min.js"></script>
<script src="~/DataTables-1.10.18/js/vfs_fonts.js"></script>
<script src="~/DataTables-1.10.18/js/buttons.html5.min.js"></script>
<script src="~/DataTables-1.10.18/js/jszip.min.js"></script>
<script src="~/DataTables-1.10.18/js/dataTables.responsive.min.js"></script>
<script src="~/DataTables-1.10.18/js/responsive.bootstrap4.min.js"></script>

<link href="~/DataTables-1.10.18/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="~/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/DataTables-1.10.18/css/button.css" rel="stylesheet" />
<script src="~/DataTables-1.10.18/js/dataTables.bootstrap4.js"></script>

