@model IEnumerable<MyOrdersViewModel>
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "ProductOrders";
    Layout = "~/Views/Shared/BackEnd.cshtml";
}

<style>
    #background {
        background-color: rgba(0,0,0,0.3);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 999;
    }

    #picture {
        position: absolute;
        top: 7%;
        left: 50%;
        margin-left: -280px;
        width: 800px;
        height: 850px;
    }

    #imageSize {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
</style>

<div hidden onclick="HidePicture();" id="background">
    <div id="picture">

    </div>
</div>

<section id="main-content">
    <div class="wrapper">



        <h3><i class="fa fa-angle-right"></i> Orders</h3>
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
            <div class="col-lg-12">
                <div class="form-panel">

                    <table class="table table-striped table-bordered responsive no-wrap" style="width:100%" id="userList">
                        <thead>
                            <tr>

                                <th>Products</th>
                                <th>Payment Terms</th>
                                <th>Payment</th>
                                <th>Delivery Status</th>
                                <th>Status</th>
                                <th>Action</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var pVM in Model)
                                {
                                    <tr>

                                        <td>
                                            @{
                                                foreach (var order in pVM.Orders)
                                                {
                                                    <p>@order.ProductName  X  @order.Quantity</p>
                                                }
                                            }
                                        </td>
                                        <td>@pVM.Transactions.PaymentTerms</td>
                                        <td>@pVM.Transactions.TotalPrice.ToString("N")</td>
                                        <td>
                                            @{
                                                if (pVM.Transactions.PaymentStatus != "Accepted" && pVM.Transactions.PaymentTerms == "Cash on delivery" && DateTime.Now > pVM.Transactions.DateTimeStamps.Value.AddDays(5).Date)
                                                {
                                                    <a asp-route-id="@pVM.Transactions.TransactionKey" class="btn-sm btn-primary" asp-action="AcceptCOD" asp-controller="Cart">Complete Order</a>
                                                }

                                                if (pVM.Transactions.DeliveryDate != null)
                                                {
                                                    <span class="badge badge-today">Delivered</span> <span>@pVM.Transactions.DeliveryDate.Value.ToString("D")</span>
                                                }
                                                else if (pVM.Transactions.PaymentTerms != "COD" && pVM.Transactions.PaymentStatus == "Accepted" && pVM.Transactions.DeliveryStatus != "Accepted" && pVM.Transactions.DeliveryStatus != "Delivered" && HttpContextAccessor.HttpContext.Session.GetString("UserName") != pVM.Transactions.WhoCanModify)
                                                {
                                                    @pVM.Transactions.DeliveryDate

                                                    <span class="badge badge-pill">@pVM.Transactions.DeliveryStatus</span>

                                                    if (pVM.Transactions.DeliveryDate != null)
                                                    {
                                                        <a asp-route-id="@pVM.Transactions.TransactionKey" class="btn-sm btn-primary" asp-action="AdminAcceptDelivery" asp-controller="Cart">Accept</a>
                                                        <a asp-route-id="@pVM.Transactions.TransactionKey" class="btn-sm btn-danger" asp-action="AdminRejectDelivery" asp-controller="Cart">Reject</a>
                                                    }
                                                    <br /><br />
                                                    <span style="color:gray;">Choose Date</span>
                                                    <form method="post" asp-action="SetDeliveryDate" asp-controller="Cart">
                                                        <input type="hidden" value="@pVM.Transactions.TransactionKey" name="id" />
                                                        <input class="form-control" type="date" id="dateTime" name="dateTime" />
                                                        <br />
                                                        <input class="btn btn-sm" type="submit" />
                                                    </form>
                                                }
                                                else if (pVM.Transactions.PaymentTerms == "COD" && pVM.Transactions.PaymentStatus == "Accepted")
                                                {
                                                    <span class="badge badge-pill">Service Completed </span> @pVM.Transactions.DateTimeStamps.Value.ToString("D")
                                                }
                                            }

                                        </td>
                                        <td><span class="badge badge-pill">@pVM.Transactions.PaymentStatus</span> </td>

                                        <td>
                                            @{
                                                if (pVM.Transactions.PaymentStatus == "pending" && pVM.Transactions.ImageString != null)
                                                {
                                                    <a onclick="return confirm('Are you sure you want to accept this transaction?')" asp-route-id="@pVM.Transactions.TransactionKey" asp-action="AcceptPayment" asp-controller="Cart"> Accept Payment</a> <a asp-route-id="@pVM.Transactions.TransactionKey" onclick="return confirm('Are you sure you want to reject this transaction?')" asp-action="RejectPayment" asp-controller="Cart">Reject Payment</a>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @{
                                                if (pVM.Transactions.ImageString != null)
                                                {
                                                    <a onclick="ImageView('@pVM.Transactions.ImageString');" href="#">View Image</a>

                                                }
                                            }


                                        </td>

                                        <td>
                                            @{

                                                <a asp-action="Invoice" asp-controller="Cart" asp-route-id="@pVM.Transactions.TransactionKey">
                                                    View Invoice
                                                </a>

                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        $('#userList').DataTable({

            responsive: true,
            lengthChange: false,
            "sScrollX": "100%",
            "scrollCollapse": true,
            dom: 'lBfrtip',
            buttons: [
                {
                    extend: 'print',

                    customize: function (win) {
                        $(win.document.body)
                            .css({ 'font-size': '10pt' })
                            .prepend(
                                '<img style= src="~/Images/activefinancelogo.png"  style="position:absolute; height:500px; z-index:5000; width:500px; top:0; left:0;" />'
                            );

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }, 'excelHtml5', {
                    extend: 'pdf',
                    download: 'open',
                }
            ]

        });
    });



</script>
<script src="~/DataTables-1.10.18/js/jquery.dataTables.js"></script>
<script src="~/DataTables-1.10.18/js/dataTables.buttons.min.js"></script>
<script src="~/DataTables-1.10.18/js/buttons.print.min.js"></script>

<script src="~/DataTables-1.10.18/js/pdfmake.min.js"></script>
<script src="~/DataTables-1.10.18/js/vfs_fonts.js"></script>
<script src="~/DataTables-1.10.18/js/buttons.html5.min.js"></script>
<script src="~/DataTables-1.10.18/js/jszip.min.js"></script>
<script src="~/DataTables-1.10.18/js/dataTables.responsive.min.js"></script>
<script src="~/DataTables-1.10.18/js/responsive.bootstrap4.min.js"></script>

<link href="~/DataTables-1.10.18/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="~/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/DataTables-1.10.18/css/button.css" rel="stylesheet" />
<script src="~/DataTables-1.10.18/js/dataTables.bootstrap4.js"></script>


<script>

    var now = new Date();
    var otherDate = new Date();
    now.setDate(otherDate.getDate() + 2);

    var minDate = now.toISOString().substring(0, 10);

    $('#dateTime').prop('min', minDate);




    function ImageView(img) {

        $('#background').show();
        $('#picture').html("<img id='imageSize' src = '../../Images/" + img + "'/> ");

    }


    function HidePicture() {
        $('#background').hide();
    }

</script>