@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "BackEnd";
}
@model List<Quotations>

    <section id="main-content"> 
         <div class="wrapper">
    <div class="row mt">

        <div class="col-lg-12">

            <div class="form-panel">

                <h1>Boiler</h1>
                <form method="post" asp-action="CreateQuotation" asp-controller="Service">
                    <ul>
                        @{
                            foreach (var c in Model)
                            {
                                if (c.ServiceName == "Boiler")
                                {
                                    <li class="badge badge-info">@c.QuotationName : @c.Price.ToString("N")  <a class="btn-sm btn-danger" asp-route-id="@c.QuotationPK" asp-controller="Service" asp-action="DeleteQuotation" >X</a>  </li> 
                                }
                            }
                        }
                    </ul>
                    <input type="text" placeholder="Title" name="title" style="width:200px;" class="form-control" />
                    <input type="number" name="price" style="width:200px;" placeholder="Price" class="form-control" />
                    <input type="hidden" name="serviceType" value="Boiler" />
                    <input type="submit" class="btn btn-primary" />
                </form>
                <h1>Plumbing</h1>
                <form method="post" asp-action="CreateQuotation" asp-controller="Service">
                    <ul>
                        @{
                            foreach (var c in Model)
                            {
                                if (c.ServiceName == "Plumbing")
                                {
                                    <li class="badge badge-info">@c.QuotationName : @c.Price.ToString("N")  <a class="btn-sm btn-danger" asp-route-id="@c.QuotationPK" asp-controller="Service" asp-action="DeleteQuotation">X</a>  </li>

                                }
                            }
                        }
                    </ul>

                    <input type="text" placeholder="Title" name="title" style="width:200px;" class="form-control" />
                    <input type="number" name="price" style="width:200px;" placeholder="Price" class="form-control" />
                    <input type="hidden" name="serviceType" value="Plumbing" />
                    <input type="submit" class="btn btn-primary" />
                </form>
                
            </div>
            <!-- /form-panel -->
        </div>
        <!-- /col-lg-12 -->
    </div>
    <script>


    if ($('.validation').text().trim() == "") {
        $('.validation').hide();
    }



    </script>
         </div>
         </div>

    